.lgform-container {
  width: 35rem;
  height: 20rem;
  background: #e1e6ef;
  color: #343a40;
  position: absolute;
  top: calc(50% - 9rem);
  left: calc(50% - 18rem);
  padding: 1.4rem;
}

.lgform-container h2 {
  text-align: center;
}

.lgform-container .login-form .action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}